@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero {
    background: linear-gradient(#c4ebf8 80%, #ffffff 20%);
  }

  .cta {
    background: linear-gradient(to right, #c4ebf8 50%, #b11823 50%);
  }

  .div-wrapper {
    position: relative;
    height: 300px;
    width: 656px;
  }

  .div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .small-button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 2;
    text-align: center;
  }

  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    flex: 50%;
  }
}

@font-face {
  font-family: "Audrey";
  src: url('../assets/Audrey/Audrey-Medium.woff2');
  font-weight: auto;
  font-style: normal;
}

@font-face {
  font-family: "Audrey";
  src: url('../assets/Audrey/Audrey-Normal.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Audrey";
  src: url('../assets/Audrey/Audrey-MediumOblique.woff2');
  font-weight: auto;
  font-style: italic;
}

@font-face {
  font-family: "Audrey";
  src: url('../assets/Audrey/Audrey-NormalOblique.woff2');
  font-weight: normal;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
  background-color: white;
}

h1 {
  font-family: 'Audrey', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 11px;
  text-align: left;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 46px;
  line-height: 118.6%;
  text-transform: initial;
  letter-spacing: -1px;
  text-align: center;
}

h3 {
  font-family: 'Audrey', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
}

h4 {
  font-family: 'Audrey', sans-serif;
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
}

h5 {
  font-family: 'Audrey', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: left;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: left;
}

label {
  font-family: 'Audrey', sans-serif;
  font-weight: 600;
  font-size: 16px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-align: left;
}

nav {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
}

footer {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 16;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 2;
  text-align: left;
}